.betcontainer{
    
    height:70px;
    background-color: #cbe1cd;
    left: -20px;
   
}
.betitemheader{
    font-size:medium;
    font-weight: bold;
}
.betitemcontent{
    font-size: x-small;
}
.icon{
    width: 70px;
    height: 70px;

   
    border-radius:50%;

position: relative;

}
.icon:hover{
    background-color: #A3C1A6;
   transition: all 1s;
}
.icon i{
    font-weight: bold;
top: 12px;
left: 17px;
position: absolute;    
}
