
/* carousel section  */
.carousel{
  margin-left: -40px;
    overflow: hidden;
}
  .carousel img{
    
      width: 100vw;
      height: 100vh;
   overflow: hidden;
   margin: 0 0;
    
}  

 @media screen and  (max-width: 992px) {
    .carousel img{

        width: 100% !important;
        height: 100vh;
      
  }
  .clinic100{

    width: 90% !important;
    margin-right: 1rem;
  
}

  } 
.carousel caption {
      display: flex;
      align-items: center;
      justify-content: center;
  
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    @media screen and  (max-width: 780px) {

.mt-mobile-5{
  margin-left: -8px;
}
    }
