
#footer{
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: -50px;
    bottom:0;
   
    margin-top: auto;
   
}


#footer a{
    color: black;
       }
   
       #footer-d{
           font-size:xx-small;
           padding: 0;
       }
   
   .ad{
       font-size: smaller;
   }
   .bg-menu{
    background-color:#ACD1AF;
  
    
}
