.onlinecart1{
    width: 270px;
    height: 600px;
    background-color: white;
   margin-right: 10%;
   margin-top: 10%;
 
    border-radius: 15px;
}
.onlinecart{
    width: 270px;
    height: 380px;
    background-color: white;
   margin-right: 120%;
   margin-top: 40%;
    border-radius: 15px;
}
.onlinecart1 img{
    border-radius: 15px;
    height: 200px;
    width: 100%;
    
}
.onlinecart img{
    border-radius: 15px;
    height: 200px;
    width: 100%;
    
}
.pagin{
    margin-right: 300px;
}
.title{
    margin-top:10px;
    font-weight: bold;
    
}
.price{
  color: green;  
  margin-bottom: 10px;
}

@media screen and  (max-width: 780px)  {
  
 .shop{
    margin-right: 0px !important;
    margin-left: 100px !important;
    margin-bottom: 40px !important;
 }
 .onlinecart{
    width: 250px;
    height: 380px;
    background-color: white;
   margin-right: 20%;
   margin-top: 10%;
    border-radius: 15px;
}

}
@media screen and  (max-width: 414px) {
    .onlinecart{
        width: 250px;
        height: 380px;
        background-color: white;
       margin-right: 20%;
       margin-top: 10%;
        border-radius: 15px;
    }
   }