.mySwiper{
      
    width: 100%;
    min-height: 100%;
   
  
}
@media screen and  (max-width: 780px) {
    .mySwiper{
      
        width: 100%;
        min-height: 100%;
        
      
    }

   
}
